* {
  text-decoration: none;
  font-weight: 400;
}

img {
  height: 60px;
  width: 60px;
}

h4 {
  font-weight: bold;
  color: black;
}

p, a { color: rgb(82, 82, 82)}


.card--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 50px;
}

.cards {
  margin: 0 30px;
  box-shadow: 0 0 10px rgb(126, 126, 126);
  border-radius: 5px;
  padding: 20px;
  width: 275px;
  height: 150px;
}

.cards:hover {
  background-color: rgba(117, 117, 117, 0.1);
}

.top-section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.top-text {
  width: 200px;
  padding: 0 20px;
  margin: 0;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

@media (max-width: 766px) and (min-width: 375px) {
  .card--container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: auto;
  }
  .cards {
    margin: 20px 0;
  }
}